
input , ul, li , label, button ,h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.customPasswordReset{
    font-size: 0.875rem;
    color: #ffffff;
    /*float: left;*/
}