<template>
    <div id="app">
        <div class="form-group">
            <label>Files</label>
            <select class="form-control" name="files[]" multiple>
                <option v-for="file in files" :key="file.id" :value="file.id">{{ file.name }}</option>
            </select>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Files",

        props: [
            'files',
        ],
    }
</script>

<style scoped>

</style>