<template>
    <div id="app">
        <div class="form-group">
            <label>Subjects</label>
            <select class="form-control" name="subject" id="subject">
                <option v-for="subject in subjects"
                        :key="subject.id"
                        :value="subject.id"
                        {{ $subject.id == $quiz.quizable_id ? 'selected' : '' }}>
                {{ $subject.name }}
                </option>
            </select>
        </div>
        <files :files="files"></files>
    </div>
</template>

<script>

    import Files from "./Files";
    import {AxiosInstance as axios} from "axios";

    export default {
        name: "Subjects",
        components: {Files},
        mounted() {
            axios.get(`api/files/${document.getElementById('subject').value}`)
                .then(response => {
                    this.files = response.data;
                })
        },

        data: function() {
            return {
                files: null,
            }
        },

        methods: {
            subjectFiles: function ($event) {
                // alert($event.target.value);
                let subject = $event.target.value;
                alert(subject)
                axios.get(`api/files/${document.getElementById('subject').value}`)
                    .then(response => {
                        this.files = response.data;
                    })
            }
        },

        props: [
          'subjects', 'quiz',
        ],
    }
</script>

<style scoped>

</style>